<h1><center>  DATA SCIENCE PROJECT </center></h1>
<center> Kristjan Pekk, Pärt Alango, Yaiza Rubio Chavida </center>
<center> University of Tartu </center>

<h1><center>  HIV ANALYSIS </center></h1>
<center>Study of HIV epidemiology indicators and treatments for children and adolescents.</center>

The two datasets used in this project were taken from: https://data.unicef.org/resources/dataset/hiv-aids-statistical-tables/.
To get better results for our project, we removed some data from the original datasets to have only the data needed to achieve our goals.

<center> </center>

First of all, we analyzed a dataset with HIV indicators from children and adolescents, depending on the continent, sex, age(0-19) and the year (1990-2019). 

To do this analysis we transformed the original dataset to a csv file. Then, we reduce it to study years from 2010 to 2019 and ages from 0-14, because we have no data about previous years and ages in the second dataset, so we couldn´t compare them. We also saw that some columns were not very useful for our analysis, so we eliminated them as well as incomplete rows. 

We cleaned most of the data changing different parameters in the following code and we exported it as a new csv file.

In [1]:
import pandas as pd
#indicators=pd.read_csv("Epidemiology.csv", sep=";", encoding='latin-1')
#indicators.drop(indicators.loc[indicators['Year']==1990].index, inplace=True)
#indicators.drop(indicators.loc[indicators['Age']!='Age 0-14'].index, inplace=True)
#indicators.drop("UNICEF Region", axis=1, inplace=True)
#indicators.to_csv("Tests.csv", index=False, encoding='utf8')

To have the data more separated, we divided this new csv file into two:
- AnnualDeaths.csv  (Estimated number of annual AIDS-related deaths of children 0-14 depending on country, sex and year (2010-2019))
- AnnualNewInfections.csv   (Estimated number of annual new HIV infections of children 0-14 depending on country, sex and year(2010-2019))

In [2]:
deaths=pd.read_csv("AnnualDeaths.csv", sep=",", encoding='latin-1')
print(deaths.shape)
deaths.head()

(2970, 6)

  Country/Region  Year     Sex Value Lower Upper
0         Global  2010    Both   220   150   360
1         Global  2010  Female   110    73   180
2         Global  2010    Male   110    75   180
3         Global  2011    Both   200   130   330
4         Global  2011  Female    97    65   160

In [3]:
infections=pd.read_csv("AnnualNewInfections.csv", sep=",", encoding='latin-1')
print(infections.shape)
infections.head()

(2940, 6)

  Country/Region  Year     Sex Value Lower Upper
0         Global  2010    Both   310   200   500
1         Global  2010  Female   150    97   240
2         Global  2010    Male   160   100   250
3         Global  2011    Both   270   170   430
4         Global  2011  Female   130    85   210

Our UNICEF second dataset contained the percentage and the numbers of children(0-14 years) with HIV recieving ART treatment. In this dataset we had different indicators, some of them were the number of children, and the other ones were represented
by percentage. So we realized we couldn´t mix the values to get good results. To solve this problem we joined data as shown below. In this way, we simplify a lot the original data due to most of the information was twice.

In [4]:
treatments=pd.read_csv("Treatment.csv", sep=";", encoding='latin-1')
print(treatments.shape)
treatments.head()

(930, 7)

       Country      Region  Year Percentage Lower Upper Number
0  Afghanistan  South Asia  2010         <1    <1   1.8      0
1  Afghanistan  South Asia  2011        1.8    <1   4.3     10
2  Afghanistan  South Asia  2012        2.0    <1   4.7     10
3  Afghanistan  South Asia  2013        3.4   1.7   8.1     10
4  Afghanistan  South Asia  2014        4.6   2.2  11.1     20

Finally, we separated one dataset to get one with analysis divided in 7 regions. These regions are: Eastern and Southern Africa, Sub-Saharan Africa, East and North Africa, Latin America and Caribbean, Middle  South Asia, East Asia and Pacific, West and Central Africa with values of years from 2010-2019.

In [5]:
regions=pd.read_csv("Global.csv", sep=";", encoding='latin-1', header=None, names= ["Region","Year","Percentage","Lower","Upper", "Number"])
print(regions.shape)
regions.head()

(80, 6)

                  Region  Year  Percentage  Lower Upper Number
0  East Asia and Pacific  2010        35.5   24.0  44.0   19,5
1  East Asia and Pacific  2011        38.3   25.0  48.0   21,7
2  East Asia and Pacific  2012        39.6   26.0  49.0   22,9
3  East Asia and Pacific  2013        42.1   28.0  52.0   24,9
4  East Asia and Pacific  2014        44.1   29.0  55.0   26,4

<center> Thank you </center>